body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 180px;  
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#change-button {
    height: fit-content;
    margin-bottom: 1px;
}
#disable-button {
    height: fit-content;
    margin-bottom: 1px;
    padding-left: 2px;
}
